.prolist {
  padding: 20px;

  .proitem {
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    // overflow: hidden;
    border: 1px solid #eee;
    border-radius: 10px;

    .content {
      overflow: hidden;
      padding-left: 10px;

      .title {
        padding-bottom: 20px;
        font-size: 32px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .desc {
        font-size: 26px;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        overflow: hidden;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}
